In [1]:
import pandas as pd
from spellchecker import SpellChecker

In [2]:
df = pd.read_csv("finalcleandata.csv")

In [3]:
df.head()

,Company,Designation,Locations,Established Year,Employees Count,Link,HR_Name,Experience,Followers,Skills1,Skills2,Skills3,Skills4,Skills5,Skills6,Skills7,Cluster,Experience Category
0,EagleView,Senior Financial Accountant,Work From Home,2008,0 - 10 employees,https://www.instahyre.com/job-248006-senior-fi...,Kavya Iyer,3-6 Years,30000,Accounting,Auditing,Chartered,Accountant,NaN,NaN,NaN,Class2,Junior Level
1,LTIMindtree,Fullstack Developer,Bangalore,1996,More than 1000 employees,https://www.instahyre.com/job-249199-fullstack...,Akshata,4-6 Years,452194,Angular,Java,Microservices,Spring,Boot,NaN,NaN,Class1,Mid-Level
2,mPokket,Performance Marketing,Bangalore,2016,More than 1000 employees,https://www.instahyre.com/job-248784-performan...,Aikya Chakraborty,4-8 Years,22000,Content,Marketing,Digital,Marketing,Facebook,Marketing,NaN,Class1,Mid-Level
3,Open Financial Technologies,Zonal Head Sales,Chennai,2017,200 - 500 employees,https://www.instahyre.com/job-248018-zonal-hea...,Libin O K,6-10 Years,35000,Channel,Sales,Payment,Processing,Revenue,Management,NaN,Class2,Mid-Level
4,Piramal Capital & Housing Finance,DPM 1,Bangalore,2017,10 - 50 employees,https://www.instahyre.com/job-248890-dpm-1-at-...,Hr,1-3 Years,138000,Product,Management,NaN,NaN,NaN,NaN,NaN,Class2,Junior Level

In [10]:
loc = df['Locations'].mode()[0]

In [11]:
print(loc)

Bangalore

In [5]:
demo = df['Skills1'].str.lower()

In [6]:
demo

0       accounting
1          angular
2          content
3          channel
4          product
           ...
2420         build
2421         linux
2422        devops
2423           css
2424      business
Name: Skills1, Length: 2425, dtype: object

In [4]:
df['Experience Category'].value_counts()

Junior Level    774
Mid-Level       712
Fresher         497
Senior Level    442
Name: Experience Category, dtype: int64

In [12]:
df['Locations'].value_counts()

Bangalore                     1266
Work From Home                 221
Gurgaon                        203
Mumbai                         148
Hyderabad                      139
Noida                           93
Chennai                         87
Pune                            86
Delhi                           66
Ahmedabad                       22
Jaipur                          17
Navi Mumbai                     11
Kolkata                         10
Chandigarh                       9
Mohali                           8
Coimbatore                       6
Indore                           4
Greater Noida                    3
Mangalore                        2
Nagpur                           2
Kanpur                           2
Surat                            2
Bhopal                           2
Lucknow                          2
Guntur                           1
Trivandrum                       1
Coch                             1
Nasik                            1
Kochi                            1
Rajkot                           1
Mysuru                           1
Shimla                           1
Panaji                           1
United Arab Emirates (UAE)       1
Ghaziabad                        1
Jamshedpur                       1
Amritsar                         1
Kharagpur                        1
Name: Locations, dtype: int64

In [14]:
df['Cluster'].value_counts()

Class2    1469
Class1     746
Class4     196
Class3      14
Name: Cluster, dtype: int64

In [5]:
from spellchecker import SpellChecker

In [7]:
df.isnull().sum()

Company                   0
Designation               0
Locations                 0
Established Year          0
Employees Count           0
Link                      0
HR_Name                   0
Experience                0
Followers                 0
Skills1                  41
Skills2                 222
Skills3                 544
Skills4                 882
Skills5                1282
Skills6                1716
Skills7                2164
Cluster                   0
Experience Category       0
dtype: int64

In [22]:
df['Skills1'] = df['Skills1'].fillna("")
df['Skills2'] = df['Skills2'].fillna("")
df['Skills3'] = df['Skills3'].fillna("")
df['Skills4'] = df['Skills4'].fillna("")
df['Skills5'] = df['Skills5'].fillna("")
df['Skills6'] = df['Skills6'].fillna("")
df['Skills7'] = df['Skills7'].fillna("")

In [23]:
df.isnull().sum()

Company                0
Designation            0
Locations              0
Established Year       0
Employees Count        0
Link                   0
HR_Name                0
Experience             0
Followers              0
Skills1                0
Skills2                0
Skills3                0
Skills4                0
Skills5                0
Skills6                0
Skills7                0
Cluster                0
Experience Category    0
dtype: int64

In [24]:
skills = set(df['Skills1'].str.lower())

In [25]:
#skills = set(df['Skills1'].str.lower())
skills.update(df['Skills2'].str.lower())
skills.update(df['Skills3'].str.lower())
skills.update(df['Skills4'].str.lower())
skills.update(df['Skills5'].str.lower())
skills.update(df['Skills6'].str.lower())
skills.update(df['Skills7'].str.lower())

In [26]:
# write skills to a text file
with open('dictionary.txt', 'w') as f:
    f.write('\n'.join(skills))

In [27]:
spell = SpellChecker()
spell.word_frequency.load_text_file('dictionary.txt')

In [28]:
# Load the custom dictionary
with open('dictionary.txt') as f:
    skills = f.read().splitlines()

spell = SpellChecker(language=None, case_sensitive=False)
spell.word_frequency.load_words(skills)

In [31]:
# Test the spell checker
user_input = "testin"
corrected_input = spell.correction(user_input)
print(f'Searching for jobs related to: {corrected_input}')

Searching for jobs related to: testing